<div *ngFor="let aluno of alunos" class="card mb-3 custom-card">
  <div class="card-body">
    <h5 class="card-title">Informações do Aluno</h5>
    <p><strong>Nome:</strong> <span class="text-muted">{{ aluno.nome }}</span></p>
    <p><strong>Idade:</strong> <span class="text-muted">{{ aluno.idade }}</span></p>
    <p><strong>Turma:</strong> <span class="text-muted">{{ aluno.turma.nome }}</span></p>
    <p><strong>Curso:</strong> <span class="text-muted">{{ aluno.turma.nome }}</span></p>
    <p><strong>Professor:</strong> <span class="text-muted">{{ aluno.turma.professor }}</span></p>
  </div>
  <div class="card-footer text-muted">
    <hr class="my-2">
  </div>
</div>
